.seccionMensajes{ /*seccion*/
    display: block;
    float: left; 
    width: 1080px;
    height: auto;
    margin: 2rem; 
    padding: 5px;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    background-color: rgba(187, 187, 187, 0.308);
    box-shadow: 0 10px 10px 0px rgba(35, 64, 126, 0.287);
}
  
td{
    font-size: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    margin: 0rem;
    font-weight: bold;
    margin-top: 4rem;
    
    
}
strong{
    color:rgba(0, 0, 128, 0.623)
}


table{
    margin-top: 1.7rem;
    margin-left: 4rem;
}

#titutoUsuario{
    color: rgb(15, 15, 46);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    
}

.imagenPublicacion{     /*imagen*/
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    margin-top: 2rem;
    margin-right: 5rem;
    
}
.boton{         /*class del boton diseè´–o*/
    background-color: rgb(43, 120, 228);
    color: white;
    font-size: 1.2rem;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
.boton:hover{
    background-color: rgb(100, 130, 228);
    cursor: pointer;
} 
.botones{

    padding: 1rem;
}