#contenedorChat{
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    height: 500px;
    background-color: rgba(5, 1, 255, 0.205);
    margin-bottom: 2rem;
    margin-top: 20px;
    padding: 20px;
    border-radius: 1rem;
    box-sizing: border-box;
} 
#mensajes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.596);
    margin-bottom: 1rem;
    margin-top: 0px;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    color:transparent;
}
#mensajeUsuario{
    display: block;
    float: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 700px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.37);
    border: rgba(102, 101, 101, 0.787) 1px solid;
    padding: 5px;
    font-size: 1rem;
    
}
.boton{
    background-image: url(../img/enviarMensaje.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:35px;
    border: none;
    background-color: transparent;
}
#enviarMensaje{
    display: block;
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    
}
#enviarMensaje:hover{
    border: rgba(169, 169, 169, 0.507) 1px solid;
    cursor: pointer;
}


#mensajeEnviado{
    display: block;
    float: right;
    clear: both;
    width: auto;
    max-width: 430px;
    height: auto;
    background-color: rgba(5, 161, 78, 0.363);
    margin: 5px;
    margin-right: 20px;
    font-size: 1.3rem;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    color:black;
}
#mensajeRecibido{
    display: block;
    float: left;
    clear: both;
    height: auto;
    width: auto;
    max-width: 430px;
    background-color: rgba(41, 109, 173, 0.363);
    margin: 5px;
    margin-left: 20px;
    font-size: 1.3rem;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    color:black;
}
.boton1{
    display: block;
    height: 60px;
    width: 210px;
    background-color: rgba(0, 128, 128, 0.596);
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;
}
.boton1:hover{
    border: rgba(169, 169, 169, 0.507) 1px solid;
    cursor: pointer;
}

